body, html {height:100%}

/****** MALIK 19 DEC ******/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
}
/****** MALIK 19 DEC ******/
.am-layout {
    font-family: Tahoma, Arial, san-serif;
    color: #303030;
}

p {
    padding-bottom: 0.5em;
}

.am-layout h1 {
    font-size: 150%;
    font-weight: normal;
    color:#333333;
    margin-bottom: 1em;
}

.am-layout h2 {
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 0.8em;
}

.am-layout a { color: #3f7fb0; }

.am-header {
    text-align: center;
    overflow:hidden;
    background: url('../img/header-bg.png') repeat-x top left;
}

.am-main {
    padding-left: 20px;
    padding-right: 20px;
    width:800px;
    display: inline-block;
    text-align: left;
}


.am-header-content-wrapper {
    border-color: #688296;
    border-width: 0 1px;
    border-style: solid;
    height: 37px;
    background: url('../img/header-wrapper-bg.png') repeat-x top left #355873;
}

.am-header-content {
    padding-top: 1em;
}

.am-header-line {
    height: 12px;
    background: #9c9c9c;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #ebebeb;
}

.am-footer {
    text-align: center;
    color: #919191;
    /* padding: 0.5em 2em 0.5em 1em; */
    height: 30px;
}

.am-footer-content-wrapper {
    background: #325069;
    color: white;
    height: 30px;
}

.am-footer-content {
    padding-top: 0.5em;
}

.am-footer-content a {
    color: white;
}

.am-footer-actions {
    float: right;
}

.am-layout {
    /* min-height: 100%;
    margin-bottom: -30px;
    background: url('../img/layout-bg.png') repeat-y top center #ededed; */
}


.am-body {
    /* background: url('../img/body-bg.png') repeat-x left top #ededed;*/
    background: #FFFFFF;
    text-align: center;
}

.am-body-content-wrapper {
   /* border-color: #dbdbdb;
    border-width: 0 1px;
    border-style: solid; */
    text-align: left;
    background: white;
    padding-bottom: 80px;
    padding-top: 80px;

}

.am-user-identity-block {
    background: url('../img/identity-glyph.png') no-repeat left center;
    font-weight: bold;
    padding-top: 0.4em;
    padding-left: 25px;
    line-height: 19px;
    margin-bottom: 1em;
}

.am-user-identity-block a {
    text-decoration: none;
}

.am-layout hr {  background-color: #DBDBDB;  border: 0;  width: 100%;  height: 1px; }

.am-lang-choice {
    float: right;
}

.am-block {
    color:#666666;
    background:#fff;
    border: 1px solid #e0e0e0;
    -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
    margin-bottom: 1em;
    padding: 1em;
    box-shadow: 0 1px 1px #e0e0e0;
}

.am-block li {
    list-style-type: none;
}

.am-layout-two-coll {
    overflow: hidden;
    background: url('../img/two-coll-divider-middel.png') repeat-y top center #f5f5f5;
    border: 1px solid #d9d9d9;
    -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
    box-shadow: 0 1px 3px #e3e3e3;
}

.am-layout-two-coll-bottom {
    clear: both;
    height: 20px;
    background: url('../img/two-coll-divider-bottom.png') repeat-y top center;
}
.am-layout-two-coll-top {
    clear: both;
    height: 20px;
    background: url('../img/two-coll-divider-top.png') repeat-y top center;
}

.am-coll-left,
.am-coll-right {
    float: left;
    width: 50%;
}


.am-coll-left .am-coll-content {
    margin: 0 2em;
}

.am-coll-right .am-coll-content {
    margin: 0 2em;
}

.am-info, .am-login-text {
    background: #dfe8f0;
    border: 1px solid #ccddeb;
    -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
    margin-bottom: 1em;
    padding: 0.5em 1em;
}

/* Grid */

.filter-wrap {
    color:#333333;
    background:#dbdbdb;
    -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
    padding:0.5em;
    text-align: right;
    margin-bottom: 1em;
    box-shadow: 0 1px 1px #b0b0b0;
}

form.filter input[type=text] {
    background-image: url('../img/icons/magnify.png');
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 25px;
}

div.grid-container {
    border:1px solid #a1a1a1;
    box-shadow: 0 4px 8px #d6d6d6;
    clear: both;
    margin-bottom: 1em;
}

table.grid {
    width:100%;
}

table.grid tr.odd td {
    background: #d3dce3;
}

table.grid tr.odd td.sorted {
    background: #bed4e2;
}

table.grid tr.selected {
    background: url('../img/admin/grid-row-selected-bg.png') repeat-x left top;
}

table.grid tr.selected td {
    background: none !important;
}

table.grid td, table.grid th {
    padding:0.5em;
    border:1px solid white;
}

table.grid th {
    background: url('../img/admin/grid-header-bg.png') repeat-x top left;
    color: white;
    text-shadow: 0 -1px 1px #1e2e3b;
}

table.grid th a {
    padding-right: 20px;
    display: block;
    color: white;
    text-decoration: none;
    text-shadow: 0 -1px 1px #1e2e3b;
    background: url('../img/admin/sortable.png') no-repeat right center;
}

table.grid th a.sorted-asc {
    background: url('../img/admin/asc.png') no-repeat right center;
}

table.grid th a.sorted-desc {
    background: url('../img/admin/desc.png') no-repeat right center;
}

table.grid td {
    background: #ededed;
}

table.grid td.sorted {
    background: #d9e6ee;
}

.grid-note {
    text-align:left;
    display:inline-block
}

.grid td.expandable-data {
    background:#eef;
}

.grid td.expanded {
    background: #eef!important;
    border-bottom-color: #eef;
}

.grid td.expandable {
    cursor: pointer;
}

.grid td.expandable div.arrow {
    width: 7px;
    height: 5px;
    overflow: hidden;
    float: right;
    margin: 0px;
    padding-left:10px;
    background:url('../img/arrow.png') no-repeat right;
}

.grid tr.data td {
    background-color:white;
}

.grid tr.disabled {
    color:#ccc;
}

.grid th.required {
    color:red;
}

.grid tr:hover td {
    background-color : #f0f6f8 !important;
}
.grid td.selected {
    background: #d9e6ee !important;
}


.grid-below-links {
    float: right;
}
.grid-below-links a {
    text-decoration: none;
}

.group-wrap {
    margin-bottom: 1em;
}

.norecord-actions {
    margin-bottom: 1em;
}

div.glyph {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image:url('../img/sprite/icon.png');
    background-repeat: no-repeat;
    background-position: left center;
}

/* END Grid */

/* Pagination */

.pagination {
    clear:both;
    font-size: 100%;
    padding: 0.5em 0;
    margin: 0.5em 0;
}

.pagination a {
    text-decoration: none;
    border: solid 1px #91aabd;
    color: #5e6e7a;
    background: #d3dce3;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
    text-shadow: 0 -1px 1px #fff;
}

.pagination a, .pagination span {
    padding: 0.3em 0.6em;
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.pagination .current {
    background: #8fabbd;
    color: #fff;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
    border: solid 1px #91aabd;
    text-shadow: 0 -1px 1px #596d7d;
}

.pagination .current.prev, .pagination .current.next{
    color:#afb5ba;
    border-color:#cad3db;
    background:#e3e6e8;
    text-shadow: none;
}
/* END Pagination */

/* vedit - vertical table (signup, profile edit) */
.vedit { border: solid 1px #8CACBB; }
/* vedit - usual column (right) */
.vedit td {
    text-align: left;
    vertical-align: middle;
    padding: 15px 10px 10px 10px;

    background-color: white;
    border: solid 1px #8CACBB;
}
/* vedit - header column (left) */
.vedit th {
    padding: 10px 15px 10px 10px;
    text-align: right;
    vertical-align: middle;
    font-weight: bold;

    background-color: #DEE7EC;
    border: solid 1px #8CACBB;
}
/* vedit - heading row */
.vedit .headrow { font-weight: bold; text-align: center; }


.am-layout ul.error, ul.errors {
    background: #fcbdbd;
    border: 1px solid #faa7a7;
    color: #ba2727;
    -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
    margin-bottom: 1em;
}

.am-layout ul.error li, ul.errors li
{
    margin-left: 0px;
    padding: 0.5em 1em;
    list-style: none;
    text-align: left;
}

table.errmsg
{
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 90%;
    background-color: red;
    border: #cc0000 1px solid;
    margin: 5px 0px 5px 0px;
}
table.errmsg td
{
    padding: 5px 50px 5px 5px;
    font-weight: bold;
}
table.errmsg td li
{
    list-style: square;
}

/* Receipt table from thanks.html */

div.receipt {
    border: 1px solid #c2c2c2;
    -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
    margin-bottom: 1em;
    padding: 0.5em;
    
}


div.receipt table {
    width: 100%;
}

.receipt td {
    background-color: #ededed;
    padding: 0.5em;
    border: 1px solid white;
}
.receipt th {
    font-weight: bold;
    padding: 0.5em;
}
.receipt td.total {
    background-color: #d3dce3;
}

.receipt td.terms {
    background: none;
}
.receipt {
    border-collapse: collapse;
}

span.required { color: red; }

/* Error message label on signup page */
label.error {
    border: none;
    display: block; /* display error on new line */
    padding-left: 3px;
    color: red;
    font-style: italic;
    font-weight: normal;
}
input.error, textarea.error, select.error {
    border: 2px solid red;
}

/* Tabs */

.am-tabs {}

.am-tabs > ul {
    color:#333333;
    background:#dbdbdb;
    -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
    padding:0.5em;
    text-align: right;
    margin: 0;
    margin-bottom: 1em;
    box-shadow: 0 1px 1px #b0b0b0;
    overflow: hidden;
}

.am-tabs > ul li {
    display: inline-block;
    float: left;
    margin-right: 0.5em;
}

.am-tabs > ul a {
    display: block;
    background: url('../img/admin/form-button-bg.png') repeat-x top left #e8e8e8;
    border: 1px solid #ccc;
    padding: 0.5em 1em;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
    color: #555960;
    text-shadow: 0 -1px 1px #c7c8c9;
    text-decoration: none;
}

.am-tabs > ul li.active a, .am-tabs > ul li.normal a:hover {
    border-color: #c7665b;
    background-image: url('../img/admin/form-button-hover-bg.png');
    background-color: #e34b3d;
    color: white;
    text-shadow: 0 -1px 1px #c43d33;
}

.am-tabs > ul li.active a {
    font-weight: bold;
}

.am-tabs > ul li.disabled a {
    color: #ccc;
    text-shadow: none;
}

/* END Tabs */

/* Two-level tabs */

.am-tabs li ul {
    z-index:5;
    display:none;
    position: absolute;
}

.am-tabs li ul li {
    display: block;
    float: none;
    text-align: left;
}

.am-tabs ul li:hover > ul {
    display: block;
}

.am-tabs div.arrow {
    position: relative;
    width: 7px;
    height: 5px;
    overflow: hidden;
    float: right;
    margin: 5px;
    margin-right: 0;
    background:url('../img/arrow.png') no-repeat left;
    z-index: 15;
}

.am-tabs a:hover div.arrow,
.am-tabs li.active div.arrow{
    background-image:url('../img/arrow-white.png')
}

/* END Two-level tabs */

/* Common Form Elements */

input[type=button],
input[type=submit]  {
    background: url('../img/admin/form-button-bg.png') repeat-x top left #e8e8e8;
    border: 1px solid #ccc;
    padding: 0.4em 1em;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
    color: #555960;
    text-shadow: 0 -1px 1px #c7c8c9
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=button].active,
input[type=submit].active {
    border-color: #c7665b;
    background-image: url('../img/admin/form-button-hover-bg.png');
    background-color: #e34b3d;
    color: white;
    text-shadow: 0 -1px 1px #c43d33;
}

select,
textarea,
input[type=text],
input[type=password]{
    padding: 0.4em;
    border: 1px solid #c2c2c2;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}

textarea:focus,
input[type=text]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
input[type=password]:focus {
    background-color: #fcda72;
    border-color: #c49f2f;
}

textarea.error,
input.error {
    background-color: #fce6e6;
    border-color: #fc8181;
}

/* END Common Form Elements */

/* Form*/

.am-form form {
    border: 1px solid #ededed;
    -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
    box-shadow: 0 1px 1px #b0b0b0;
    background: #fff;
    margin: 0;
    padding: 0;
    text-align: left;
}

.am-form fieldset {
    display: block;
}

.am-form fieldset legend {
    width:100%;
    font-family: Arial;
    font-size: 120%;
    color:#fff;
    white-space: nowrap;
    display: block;
    padding: 0.5em 0;
    background: url('../img/admin/form-legend-bg.png') repeat-x left top;
    text-shadow: 0 -1px 1px #243745;
    border-bottom: 1px solid #fff;
    z-index: -1;
}

.am-form div.reqnote {
    clear: both;
    font-size: 80%;
    margin: 0.5em 0 0 1em;
}

.am-form div.row {
    clear: both;
    overflow: hidden;
    border-bottom: 1px solid #ededed;
}

.am-form div.element-title {
    width: 35%;
    padding: 1em 0.5em;
    float: left;
    text-align: right;
}

.am-form div.element-title label {
    font-weight: bold;
    color: #555;
}

.am-form div.element {
    margin-left: 35%;
    padding: 1em 0.5em;
    padding-left: 1.5em;
}

.am-form span.error,
.am-form span.required {
    color: red;
}

.am-form fieldset:first-child legend:first-child {
    -moz-border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; border-radius: 10px 10px 0 0;
}

.am-form textarea {
    overflow: auto;
}

.am-form input,
.am-form select,
.am-form textarea
{
    padding: 0.4em;
    margin-top: -0.4em;
}

.am-form .element > input,
.am-form .element > select,
.am-form .element > textarea,
.am-form .element > div {
    margin-left: 0.5em;
}

.am-form input[type=checkbox] {
    margin-top: 0.4em;
}

.am-form input[type=submit],
.am-form input[type=button] {
    padding: 0.4em 1em;
    margin-left: 0.5em;
}

.am-form input[type=checkbox],
.am-form input[type=radio]{
    margin-right:0.5em;
}

/* END Form */

/* Form Login */

div.form-login-wrapper {
    padding:5em 0 1em 0;
    width:100%;
    text-align:center;
}

div.form-login legend {
    text-align:center;
}

div.form-login{
    width: 350px;
    display: inline-block;
}

.form-login input[name=login] {
    background-image: url('../img/icons/users.png');
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 30px;
}

.form-login input[name=passwd] {
    background-image: url('../img/icons/key.png');
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 30px;
}

/* END Form Login */


/* Pagination */

.pagination {
    clear:both;
    font-size: 100%;
    padding: 0.5em 0;
    margin: 0.5em 0;
}

.pagination a {
    text-decoration: none;
    border: solid 1px #91aabd;
    color: #5e6e7a;
    background: #d3dce3;
    border-radius: 5px;
    text-shadow: 0 -1px 1px #fff;
}

.pagination a, .pagination span {
    padding: 0.3em 0.6em;
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.pagination .current {
    background: #8fabbd;
    color: #fff;
    border-radius: 5px;
    border: solid 1px #91aabd;
    text-shadow: 0 -1px 1px #596d7d;
}

.pagination .current.prev, .pagination .current.next{
    color:#afb5ba;
    border-color:#cad3db;
    background:#e3e6e8;
    text-shadow: none;
}
/* END Pagination */

.am-signup-login-form-container
{
    z-index: 150;
    position: absolute;
    margin: 0 auto;
    width: 754px;
    background-color: white;
    border: solid 3px #ccc;
    padding: 20px;
}

.agreement {
    font-size: 8pt;
    white-space: pre-wrap;
    height: 300px;
    overflow: auto;
}

.am-sendpass-form input[name=login],
.am-login-form input[name=amember_login] {
    background-image: url('../img/icons/users.png');
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 30px;
}

.am-login-form input[name=amember_pass] {
    background-image: url('../img/icons/key.png');
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 30px;
}

#row-email-confirm-message-0 .element-title, #row-_agreement-0 .element-title {
    display: none;
}
#row-email-confirm-message-0 .element, #row-_agreement-0 .element {
    margin-left: 0px;
}

#mask {
    z-index: 100;
    position: fixed;
    top:0;
    left:0;
    -moz-opacity: 0.5; opacity: .50; filter: alpha(opacity=50);
    background-color: #CCC;
    width: 100%;
    height: 100%;
    zoom: 1;
}

.cancel-paysystems {
    width: 40%;
    text-align: left;
    margin-left: auto; margin-right: auto;
}

.am-active-invoice { margin-bottom: 10px; border-bottom: solid 1px gray; }
.am-active-invoice-header { font-weight: bold; display: inline; }
.am-active-invoice-terms { font-style: italic; display: inline; }
.am-active-invoice-cancel { font-style: italic; display: inline; color: gray; }
.am-active-invoice-product { color: gray; margin-left: 20px;}

.cancel-subscription-popup { 
    position: absolute;
    left: 25%;
    top: 30%;
    width: 50%;
    height: 30%;
    border: solid 2px gray;
    background-color: #f9f9f9;
    z-index: 1000;
    padding: 15px;
}
.cancel-subscription-popup-text { margin-top: 20px; margin-bottom: 20px;  }
.cancel-subscription-popup-buttons {  }

.upgrade-subscription-popup { 
    position: absolute;
    left: 25%;
    top: 30%;
    width: 50%;
    height: 30%;
    border: solid 2px gray;
    background-color: #f9f9f9;
    z-index: 1000;
    padding: 15px;
}

.am-thanks-awaiting-payment {}
.am-thanks-awaiting-refresh { margin-top: 20px; color: gray; }

.receipt-discounted-price { text-decoration: line-through; color: red;}

ul.am-list {
    margin-bottom: 1em;
    margin-left: 2em;
}

ul.am-list li {
    list-style-type:disc;
}

.small {
    font-size: small;
    font-style: italic;
}


#popup {
    text-align: left;
    display: none;
    z-index: 150;
    position: absolute;
    margin: 0 auto;
    width: 600px; /* 754px; */
    background-color: white;
    border: solid 3px #ccc;
    padding: 20px;
}

#popup-close {
    display: inline-block;
    float: right;
}

.popup-header {
    overflow: hidden;
    margin-bottom: 0.5em;
}

/*************** Malik ****************/
.clear{margin:0;padding:0;line-height:0;font-size:0;clear:both;}
.clear38{margin:0;padding:0;line-height:0;font-size:0;clear:both; height:38px;}
.clear22{margin:0;padding:0;line-height:0;font-size:0;clear:both; height:22px;}
.clear10{margin:0;padding:0;line-height:0;font-size:0;clear:both; height:22px;}

.fl{float:left;}
.fr{float:right;}


.hdr_top_inr,
.hdr_top_main,
.title_gray,
.btn_red a,
.btn_red2 a,
.mem_benefit_tbl table th{background:url(../img/new/sprite.png) repeat-x;}

.logo a,
.benifit_arow,
.member_tic,
.member_cros,
.prime_feature h2 span.pf_1,
.prime_feature h2 span.pf_2,
.prime_feature h2 span.pf_3,
.prime_feature h2 span.pf_4{background:url(../img/new/sprite2.png) no-repeat;}

.hdr_top_inr{/* width:920px; */ width:1020px;  margin:0 auto; background-position:0 0;}
.hdr_top_main{background-position:0 0; height:98px; display:block;}
.hdr_top_main2{background:url(../img/new/hdr_lft_bg.png) no-repeat left 0; height:98px; display:block;}

.logo{float:left;}
.logo a{float:left; display:block; width:378px; height:98px; cursor:pointer;}

.title_gray{background-position:0 -724px; display:inline-block; padding:0 10px; line-height:30px; height:31px; color:#ffffff; font-weight:bold; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; min-width:153px;}

.box_shadow{-moz-box-shadow:1px 1px 1px #bbbbbb; -webkit-box-shadow:1px 1px 1px #bbbbbb; box-shadow:1px 1px 1px #bbbbbb;}


h2.title_black24{font-size:24px; color:#000000; margin: 0; padding:0;}
p.text_black21{font-size:21px; color:#000000; margin: 0; padding:5px 0 10px;}


.btn_red a{background-position:0 -598px; display:inline-block; padding:0 11px; min-width:118px; text-align:center; line-height:38px; height:38px; color:#ffffff; font-weight:bold; -webkit-border-radius:19px; -moz-border-radius:19px; border-radius:19px; font-size:14px;}
.btn_red a:hover{background-position:0 -636px; text-decoration:none;}
.btn_red a:active{background-position:0 -674px;}

.btn_red2 a{background-position:0 -1055px; display:inline-block; padding:0 10px; min-width:108px; text-align:center; line-height:28px; height:29px; color:#ffffff; font-weight:bold; -webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px; font-size:12px; text-shadow:1px 1px 1px #761e0d;}
.btn_red2 a:hover{background-position:0 -1086px; text-decoration:none;}
.btn_red2 a:active{background-position:0 -1117px;}

.element .btn_red2 a{text-decoration:none;}
.element .btn_red2{display:inline; padding-left:5px;}

.mt85{margin-top:85px;}
.mt48{margin-top:48px;}
.mt41{margin-top:41px;}
.mt28{margin-top:28px;}
.mt20{margin-top:20px;}
.mt15{margin-top:15px;}
.mt8{margin-top:8px;}
.mt5{margin-top:5px;}
.mt3{margin-top:3px;}
.mt2{margin-top:2px;}
.mt1{margin-top:1px;}
.ml50{margin-left: 50px;}
.ml30{margin-left:30px;}
.ml20{margin-left:20px;}
.ml8{margin-left:8px;}
.mr38{margin-right:38px;}
.m30{margin:30px;}
.m10{margin:10px;}


/********* Footer ********/
/* footer{border-top:1px solid #677891; background-color:#011e48; min-height:60px; color:#ffffff; font-size:11px; min-width:920px; display:block; margin-top:30px;}
.footer_inr{width:840px; margin:0 auto;}
.ftr_lft{float:left; padding:20px 0px 0px;}
.ftr_lft a{color:#ffffff; text-decoration:underline;}
.ftr_lft a:hover{text-decoration:none;}
.ftr_rgt{float:right; padding:20px 0px 0px;} */

footer{border-top:1px solid #677891; background-color:#011e48; min-height:189px; color:#ffffff; font-size:11px; min-width:844px; display:block;}
.footer_inr{width:1020px; margin:0 auto;}
.ftr_lft{float:left; padding:30px 0 0 35px;}
.ftr_rgt{float:right; padding:26px 0px 0px;}
.ftr_rgt1{float:left; border-right:1px solid #ffffff; padding:0px 9px 0 0px; text-align:right;}
.ftr_rgt1 a{float:right; margin:5px 0; clear:both; color:#ffffff; text-decoration: none;}
.ftr_rgt2{float:right; padding:0px 0px 0 9px; text-align:left; width:85px;}
.ftr_rgt2 a{ float:left; clear:both; margin:5px 0; color:#ffffff; text-decoration: none;}
.ftr_rgt1 a:hover,.ftr_rgt2 a:hover{text-decoration:underline;}


/********* Footer ********/
