<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" >
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="Convert youtube to mp3 and to many other formats in seconds 100% online" name="DESCRIPTION">
<meta content="converter youtube to mp3, converter youtube mp3, convert youtube videos MP3, convert youtube mp3, convert youtube to mp3, convert youtube video mp3, convert youtube into mp3, youtube to mp3, youtube converter, convert youtube" name="KEYWORDS">
<link rel="shortcut icon" href="{$base_url}favicon.ico" />
<!--<link rel="stylesheet" type="text/css" href="{$base_url}css/style.css" />
<link rel="stylesheet" type="text/css" href="{$base_url}css/template.css" />
-->
<link rel="stylesheet" type="text/css" href="{$cdn_url}css/bundle.css?v=2" />

<title>Convert Youtube videos to MP3, MP4, 3GP, AVI, FLV, WMV | GetAudioFromVideo.com | Download Youtube Videos</title>
<style type="text/css">
#d_menu {
	*width:852px;
}

</style>
<!-- {$cdn_url} -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<!-- <script src="http://www.cpalead.com/mygateway.php?pub=16797" type="text/javascript"></script> -->
<script type="text/javascript">
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
</script>
<!-- <script src="/js/service.js" type="text/javascript"></script> -->


<script type="text/javascript">
            $resetcookie = false;
        </script>


    {if $is_user_logged eq 1}
       {if $has_active_subscriptions eq 0}
	<script type="text/javascript">
	    $resetcookie = true;
	</script>	
        <!-- <script type="text/javascript" src="/js/cookie.js" ></script> -->
        <!--<script type="text/javascript" src="/js/lock.js"></script>-->
       <!-- <script type="text/javascript">
            setCookie(_CONVER_COUNT_COOKIE,1,365);
        </script> -->
		
    {/if}

	{else}
		        <script type="text/javascript">
            $resetcookie = false;
        </script> 
	<!--	<script src="/js/cookie.js" type="text/javascript"></script> -->
	<!--	<script src="/js/lock.js" type="text/javascript" ></script> -->
		
	{/if}


<!-- GOOGLE ANALYTICS CODE START -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8374148-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- GOOGLE ANALYTICS CODE END -->
	
<!-- GUNGGO START 

<script type="text/javascript">
var cache_buster=Math.random((new Date()).getMilliseconds())*100000000000000000;
document.write(unescape('%3Cscript type="text/javascript" src="http://max.gunggo.com/show_ad.ashx?type=pop&amp;sid=2826&amp;cid=3399&amp;cm=1&amp;fc=1&amp;hr=12&amp;cb='+cache_buster+'"%3E%3C/scr'+'ipt%3E'));
</script>

GUNGGO END -->


	
<!-- SOCIAL BUTTONS HEADER START -->
<!--
<script type="text/javascript">
(function() {
var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
s.type = 'text/javascript';
s.async = true;
s.src = 'http://widgets.digg.com/buttons.js';
s1.parentNode.insertBefore(s, s1);
})();
</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'1d71a651-3a41-4306-8b91-b993a133bbd1'});</script>
-->
<!-- SOCIAL BUTTONS HEADER END -->


<!-- Aweber Analytics Code START -->
<!--
<script type="text/javascript" src="http://analytics.aweber.com/js/awt_analytics.js?id=6.Sh"></script>
-->
<!-- Aweber Analytics Code End -->

</head>
<body>

{include file="../plugins/protect/fb_connect/header.fb_connect.inc.html"}



<div style="text-align:center;">
<div id="header">
  <!--Container header-->
  <div id="d_header_banner">
    <!--Container all elements header-->
    <div id="d_header_content">
		
      <!--Registration form-->
      <div id="d_register_content" style="width:450px">
		{if $is_user_logged eq 0}
        <div id="d_register_form">
            <!--<form action="{$base_url}members/login.php" method="POST" name="login" title="Registration">-->
			<form action="https://www.getaudiofromvideo.com/members/login.php" method="POST" name="header_login" title="Registration">
                <label class="text_reg">Login to convert Youtube videos</label>
                <div id="input_reg">
                          <p align="center">
                	<input name="amember_login" type="text" value="UserName" size="35" maxlength="80" class="input_reg_cl"
                               title="Enter user name" onfocus="{literal}if(this.value=='UserName'){this.value=''}else{this.value=this.value}{/literal}" onblur="{literal}if(this.value==''){this.value='UserName'}{/literal}" />
              		</p>
                </div>
                <div id="input_reg">
                    <p align="center">
                	<input name="amember_pass" type="password"
                               onkeypress="{literal}if(event.keyCode == 13){submit_login();}{/literal}"
                               value="Password" size="35" maxlength="80" class="input_reg_cl" title="Enter you password" onfocus="{literal}if(this.value=='Password'){this.value=''}else{this.value=this.value}{/literal}" onblur="{literal}if(this.value==''){this.value='Password'}{/literal}" />
              		</p>
                            </div>
                    <a href="{$base_url}members/login.php" class="forgot_pass">Forgot password?</a>
					<input type="hidden" value="1" name="remember_login">
           </form>
        </div>
		<div id="fb_login_btn" style="float: left; width: 180px; margin-left: 40px;margin-top:-8px">
		{php}
		$fbuser = fb_connect_get_fbuser();
		if (!$fbuser) {
			echo '<p style="margin:1em 0;text-align:center;">
				<fb:login-button size="medium" autologoutlink="true" perms="email,publish_stream">Signup with Facebook</fb:login-button>
			</p>';
			}
		{/php}
		</div>
        <div id="d_register_button_login">
            <a class="button_l" onclick="submit_login();"><span>Login</span></a>

        </div>
        <div id="d_register_button_reg"><a href="{$base_url}members/signup.php" class="button_r"><span>Register Now</span></a></div>
    {else}
        <div id="d_register_form">
            <p align="center" style="padding-top:20px;padding-bottom:20px;">Hello, {$amember_user.login}</p>
            <div id="d_bpl">
            <div id="button_profile"><a class="button_p" href="{$base_url}members/member.php"><span>my account</span></a></div>
            <div id="button_logout"><a class="button_out" href="{$base_url}members/logout.php"><span>logout</span></a></div>
            </div>
        </div>
    {/if}
		
      </div>
	  
         <!--Container menu navigation-->
          <div id="d_menu">
            <div id="d_menu_con1"><a href="{$base_url}index.php" class="button_m"><span>Home</span></a></div>
            <div id="d_menu_con2"><a href="{$base_url}info/aboutus" class="button_m"><span>About Us</span></a></div>
            <div id="d_menu_con3"><a href="{$base_url}info/faq" class="button_m"><span>FAQ</span></a></div>
            <div id="d_menu_con3"><a href="{$base_url}info/testimonials" class="button_m"><span>Testimonials</span></a></div>
            <div id="d_menu_con4"><a href="{$base_url}info/terms" class="button_m"><span>Terms of Use</span></a></div>
            <div id="d_menu_con4"><a href="{$base_url}info/privacy" class="button_m"><span>Privacy Policy</span></a></div>
            <div id="d_menu_con5"><a href="{$base_url}info/statistics" class="button_m"><span>Stats</span></a></div>
            <div id="d_menu_con6"><a href="{$base_url}info/contact" class="button_m"><span>Contact Us</span></a></div>
          </div>
    </div>
	
  </div>
  <div id='goog_trans' style="width:170px;float:right;">
			<div id="google_translate_element"></div>
<!--			<script>
			function googleTranslateElementInit() {
			  new google.translate.TranslateElement({
				pageLanguage: 'en',
				gaTrack: true
			  }, 'google_translate_element');
			}
			</script>
			<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> -->
		</div>
</div>
</div>
</div>
<!-- <script type="text/javascript" src="/js/floatingwin.js"></script> -->

