{assign var=title value="Affiliate Banner"}
{include file="admin/header.inc.html"}
<center>
<br /><h3>{$title}</h3>


<table><tr><td>{if $errors}{foreach from=$errors item=e}
<font color=red><li><b>{$e|escape}</b></font>
{/foreach}{/if}</td></tr></table>


<form method="post" action="{$smarty.server.PHP_SELF|escape}">
<table class=vedit>
<tr>
  <th><b>URL to redirect after click</b></th>
  <td><input type=text name=url size=50 value="{$b.url|escape}"></td>
</tr>
<tr>
  <th><b>Image URL</b></th>
  <td><input type=text name=image_url size=50 value="{$b.image_url|escape}"></td>
</tr>
<tr>
  <th><b>Alternate Text</b><br />
  <small>to display when image cannot be displayed</small></th>
  <td><input type=text name="alt" size=50 value="{$b.alt|escape}"></td>
</tr>
<tr>
  <th>Image Width (pixels)</th>
  <td><input type=text name=width size=5 value="{$b.width|escape}"></td>
</tr>
<tr>
  <th>Image Height</th>
  <td><input type=text name=height size=5 value="{$b.height|escape}"></td>
</tr>
</table>
<br />
<input type=submit value="Save">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type=button onclick="window.location='aff_banners.php';" value="Back">
<input type="hidden" name="action" value="{$smarty.request.action|escape}"/>
<input type="hidden" name="save" value="1"/>  
<input type="hidden" name="banner_id" value="{$smarty.request.banner_id|escape}"/>

</form>

{include file="admin/footer.inc.html"}

