<table width=100% cellspacing=1 cellpadding=0 class=notebook><tr>
    <td width=25% class={if $selected eq "email"}sel{else}notsel{/if}>
    <a href="email.php">Email Users</a>
    </td>
    <td width=25% class={if $selected eq "threads"}sel{else}notsel{/if}>
    <a href="newsletter_threads.php">Newsletter Threads</a>
    </td>
    <td width=25% class={if $selected eq "archive"}sel{else}notsel{/if}>
    <a href="newsletter_archive.php">Newsletter Archive</a>
    </td>
    <td width=25% class={if $selected eq "guests"}sel{else}notsel{/if}>
    <a href="newsletter_guests.php">Newsletter Guests</a>
    </td>
</tr>
</table>
